<div style="display:block; text-align: center;">
<br>
<!--
<form>
<button type="submit" onclick='loadFileButton()'>Load new contacts file</button>
</form>
-->
    <form method="get" action="/loadContacts">
    <button type="submit">Load new contacts file</button>
    </form>
</div>
<br><br>
<h1>Prodigium Contact Search</h1>

<form>
    {{#unless search}}
    {{#each asPrev}}
    <p class="previous">{{this}} {{#unless @last}}AND{{/unless}}</p>
    {{/each}}
    {{#if cats11Done}}
    <p> Category chosen: {{cats11}}</p>
    {{else}}
    <p>Choose a category:</p>
    <select class="selectdd" id="cats11" onchange="selectCat(this.id, this.value)">
        {{#each cats11}}
        <option value='{{this}}'>{{this}}</option>
        {{/each}}
    </select>
    {{/if}}
    {{#if cats12Done}}
    <p>Subcategory chosen: {{cats12}}</p>
    {{else}}
    {{#if cats12}}
    <p>And one or more sub-categories:</p>
    <select multiple="multiple" class="selectdd" id="cats12">
        {{#each cats12}}
        <option value='{{this}}'>{{this}}</option>
        {{/each}}
    </select>
    <input class="selectdd" type='button' onclick='nextButton("cats12")' value='Next'>
    {{/if}}
    {{/if}}
    {{#if cats13Done}}
    <p>Sub-sub-category chosen: {{cats13}}</p>
    {{else}}
    {{#if cats13}}
    <p> And a sub-sub-category:</p>
    <select class="selectdd" id="cats13" onchange="selectCat(this.id, this.value)">
        {{#each cats13}}
        <option value='{{this}}'>{{this}}</option>
        {{/each}}
    </select>
    {{/if}}
    {{/if}}
    {{#if cats14}}
    <select class="selectdd" id="cats14" onchange="selectCat(this.id, this.value)">
        {{#each cats14}}
        <option value='{{this}}'>{{this}}</option>
        {{/each}}
    </select>
    {{/if}}
    <input class="selectdd" type='button' {{#if andBtnDisabled}} disabled{{/if}} onclick='andButton()' value='AND' id='and'>
    <input class="selectdd" type='button' onclick='searchButton()' value='Search' id='search'>
    {{#if search}}
    <p>Searching:</p>
    {{#each asPrev}}
    <p class="previous">{{this}} {{#unless @last}}AND{{/unless}}</p>
    {{/each}}
    {{/if}}
    {{/unless}}
    <br>
    {{#each asPrevSearch}}
    {{#if @first}}
    <h3>Searched for: </h3>
    {{/if}}
    <p>{{this}} {{#unless @last}}AND{{/unless}}</p>
    {{/each}}
    {{#each aoFound}}
    {{#if @first}}
     <h3> Search results ({{this.HowMany}}): </h3>
    {{/if}}
    <p class="names" onclick='nameClick({{this.itemNum}})'>{{this.GivenName}} {{this.FamilyName}} {{this.Phone1}}</p>
    {{#if this.Phone1}}
    {{#if this.image}}
    <img width="150px" height="auto" src="{{this.picture}}">
    {{else}}
    <p> No picture</p>
    {{/if}}
    {{/if}}
    {{/each}}
    
</form>
<form method="get" action="/searchPage">
    <button type="submit">Start over</button>
</form>
<script src="public/assets/js/index.js"></script>
<link rel="stylesheet" type="text/css" href="public/assets/css/main.css">

    
