<style>
table, th, td {
  border: 1px solid black;
}
</style>
<h2>Contacts processed: {{iLoaded}}</h2>
{{#if bClearedDB}}
{{#if iModified}}
<h2>Near-duplicates: {{iModified}}</h2>
<form>
<table style="width: 600px">
<tr>
    <th>Given Name</th>
    <th>Family Name</th>
    <th>Email</th>
</tr>
    {{#each aoModified}}
    <tr>
        <td>{{this.GivenName}}</td>
        <td>{{this.FamilyName}}</td>
        <td>{{this.E-mail1-Value}}</td>
    </tr>
    {{/each}}
</table>
</form>
{{else}}
{{/if}}
{{else}}
<h2>Modified: {{iModified}}:</h2>
{{/if}}
<br>
<form method="get" action="/searchPage">
    <button type="submit">Return to search page</button>
</form>

